@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden; /* Запрещаем вертикальную прокрутку */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    transition: background 0.5s linear; /* Длительность и тип анимации */
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
    z-index: 200;
}



.container {
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 970px;
    text-align: center;
    padding: 20px;
    color: white;
    overflow: hidden; /* Скрытие содержимого, выходящего за пределы контейнера */
    /* Градиентный фон */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    z-index: 3;
    transition: background 0.5s linear, height 0.5s ease, width 0.5s ease; /* Длительность и тип анимации для изменения цвета фона, высоты и ширины */
}

.container::after {
    content: ''; /* Обязательно для псевдоэлементов */
    position: absolute;
    top: 0%; /* Расположить подложку под элементом .container */
    left: 0;
    width: 100%;
    height: 100%; /* Высота подложки может быть на ваш выбор */
    background: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    border-radius: 15px;
    backdrop-filter: blur(3px); /* Размытие подложки */
    z-index: -1; /* Поместить подложку под элемент .quatrain */
  }


.line {
    position: fixed;
    bottom: 0;
    left: 50%; /* Появление линии с середины контейнера */
    transform: translateX(-50%); /* Центрирование линии */
    width: 0; /* Начальная ширина линии */
    height: 4px; /* Высота линии */
    background: linear-gradient(to left, rgba(95, 0, 163, 0.8) 0%, rgba(148, 0, 211, 0.8) 50%, rgba(95, 0, 163, 0.8) 100%); /* Градиент цвета линии */
    z-index: 4;    
    transition: width 1s linear; /* Длительность и тип анимации */
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .line {
        position: sticky;
        bottom: auto;
        top: 0; 
        
    }
}




@keyframes growShrink {
    0% {
        width: 0; /* Начальная ширина линии (нулевая) */
    }
    50% {
        width: 100%; /* Линия достигает максимальной ширины */
    }
    100% {
        width: 0; /* Линия снова уменьшается до нуля */
    }
}



@media only screen and (max-width: 600px) and (orientation: portrait) {
    .container {
        position: fixed;
        top: 50.75vh;
        left: 0;
        transform: translateX(-5%);
        width: 100vw;
        max-width: none;
        text-align: center;
        padding: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), #3e2723);
        color: white;
        overflow-y: auto; /* Включаем вертикальную прокрутку при необходимости */
        border: 1px solid rgba(0, 0, 0, 0);
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}





.image {
    margin-top: 1vh;
    margin-bottom: auto;
    border: 1px transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    z-index: 2;
    transition: all 0.5s;

}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .image {
        position: fixed; /* Фиксируем положение картинки */
        top: 0.5vh; /* Размещаем картинку вверху экрана */
        left: 0; /* Размещаем картинку в самом левом положении */
        width: 100%; /* Занимаем всю доступную ширину */
        height: auto; /* Автоматически подстраиваем высоту */
        max-height: none; /* Отменяем ограничение на максимальную высоту */
        max-width: none; /* Отменяем ограничение на максимальную ширину */
        transform: none; /* Отменяем transform для мобильных устройств */
    }
}





.time {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif; /* Используем шрифт Orbitron для времени */

    margin: 0 auto; /* Центрируем текст по горизонтали */
    text-shadow: 
        2px 2px 5px rgba(48, 48, 48, 0.5), /* Тень вправо-вниз */
        -2px -2px 5px rgba(48, 48, 48, 0.5), /* Тень влево-вверх */
        2px -2px 5px rgba(48, 48, 48, 0.5), /* Тень вправо-вверх */
        -2px 2px 5px rgba(48, 48, 48, 0.5); /* Тень влево-вниз */
}



.moscow-time {
    font-size: 0.75rem;
    font-family: 'Play', sans-serif; /* Используем шрифт Orbitron для времени */
    color: rgb(195, 195, 195);
    text-shadow: 
        2px 2px 5px rgba(48, 48, 48, 0.5), /* Тень вправо-вниз */
        -2px -2px 5px rgba(48, 48, 48, 0.5), /* Тень влево-вверх */
        2px -2px 5px rgba(48, 48, 48, 0.5), /* Тень вправо-вверх */
        -2px 2px 5px rgba(48, 48, 48, 0.5); /* Тень влево-вниз */
}

.text {
    font-size: 1.1rem;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    max-width: 1100px; /* Ограничиваем максимальную ширину текста */
    margin: 0 auto; /* Центрируем текст по горизонтали */
    text-align: center; /* Выравниваем текст по центру */
    line-height: 1.5; /* Добавляем расстояние между строками */
    animation: slideGradient 10s infinite cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Play', sans-serif;
    /* Добавляем более равномерные и менее сильные тени во все стороны */
    text-shadow: 
        2px 2px 3px rgba(48, 48, 48, 0.1), /* Тень вправо-вниз */
        -2px -2px 3px rgba(48, 48, 48, 0.1), /* Тень влево-вверх */
        2px -2px 3px rgba(48, 48, 48, 0.1), /* Тень вправо-вверх */
        -2px 2px 3px rgba(48, 48, 48, 0.1); /* Тень влево-вниз */
}



@media only screen and (max-width: 600px) and (orientation: portrait) {
    .text {
        font-family: 'Play', sans-serif; /* Используем шрифт Play для остального текста */
        font-size: 0.8rem;
        width: 85vw;
        text-shadow: 
        1px 1px 1px rgba(48, 48, 48, 0.1), /* Тень вправо-вниз */
        -1px -1px 1px rgba(48, 48, 48, 0.1), /* Тень влево-вверх */
        1px -1px 1px rgba(48, 48, 48, 0.1), /* Тень вправо-вверх */
        -1px 1px 1px rgba(48, 48, 48, 0.1); /* Тень влево-вниз */
    }
}


.text .animated {
    background: radial-gradient(circle, rgb(255, 100, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
    animation: slideGradient 10s infinite cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Play', sans-serif; /* Используем шрифт Play для остального текста */
    text-transform: uppercase; /* Преобразуем весь текст в заглавные буквы */
    font-weight: bold; /* Делаем текст жирным */
}

@keyframes slideGradient {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}




#audioPlayer {
  position: fixed;
  top: 20px; /* Регулируйте отступ от верхнего края страницы */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Убедитесь, что плеер находится поверх других элементов */
}

#audioPlayer audio {
  width: 100%; /* Позволяет аудиоплееру занимать всю доступную ширину контейнера */
}

#audioPlayer controls {
  width: 100%; /* Позволяет кнопкам управления занимать всю доступную ширину контейнера */
}






/* Основной стиль кнопки */
    #audioButton {
        position: fixed; /* Фиксированное позиционирование */
        bottom: 20px;  /* Отступ от нижней границы вьюпорта */
        left: 20px; /* Отступ от левой границы вьюпорта */
        width: 50px; /* Ширина кнопки */
        height: 50px; /* Высота кнопки */
        border-radius: 50%; /* Круглая форма */
        background-color: rgba(128, 0, 128, 0.1); /* Фиолетовый цвет с полупрозрачностью */
        color: rgba(255, 255, 255, 0.5); /* Цвет иконки с альфа-каналом 0.7 */
        font-size: 24px; /* Размер иконки */
        border: 1px solid rgba(128, 0, 128, 0.8); /* Тонкий бордер с альфа-каналом 0.5 */
        cursor: pointer; /* Устанавливаем курсор в виде указателя */
        transition: all 0.3s; /* Плавный переход  */
        z-index: 50;
    }




/* Стиль для включенной кнопки */
#audioButton.enabled {
    background-color: rgba(128, 0, 128, 0.5); /* Цвет заднего фона при включенной кнопке */
}

/* Медиа-запрос для портретного режима */
@media (orientation: portrait) {
    #audioButton {
        left: 15px; 
    }
}





.image-button {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px;  /* Отступ от нижней границы вьюпорта */
    right: 20px; /* Отступ от правой границы вьюпорта */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    border-radius: 50%; /* Круглая форма */
    background-color: rgba(128, 0, 128, 0.1); /* Фиолетовый цвет с полупрозрачностью */
    color: rgba(255, 255, 255, 0.5); /* Цвет иконки с альфа-каналом 0.7 */
    font-size: 24px; /* Размер иконки */
    border: 1px solid rgba(128, 0, 128, 0.8); /* Тонкий бордер с альфа-каналом 0.5 */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    transition: all 0.3s; /* Плавный переход  */
    z-index: 50;
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}


/* Стиль для включенной кнопки */
#imageButton.enabled {
    background-color: rgba(128, 0, 128, 0.5); /* Цвет заднего фона при включенной кнопке */
}

/* Медиа-запрос для портретного режима */
@media (orientation: portrait) {
    #imageButton {
        right: 15px; /* Отступ от правой границы в портретном режиме */
    }
}



#table-container {
    width: 65%; /* Ширина */
    height: 70vh; /* Высота */
    position: fixed; /* Фиксированное позиционирование */
    max-height: 70vh; /* Максимальная высота */
    top: 25%; /* Положение сверху */
    left: 50%; /* Положение слева */
    transform: translate(-50%, -25%); /* Позиционирование по центру */
    /* Добавляем прокрутку, если содержимое выходит за пределы контейнера */
    overflow: auto;
    /* Обрезаем содержимое, если оно выходит за пределы контейнера */
    overflow-x: hidden; /* Обрезаем содержимое по горизонтали */
    overflow-y: auto; /* Разрешаем вертикальную прокрутку */
    /* Добавляем стили для обрезки содержимого, если оно выходит за пределы */
    border: 2px solid rgba(128, 0, 128, 0.8); /* Темно-фиолетовая рамка */
    border-radius: 20px; /* Более сильное закругление */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Тень */
    background-color: rgba(128, 0, 128, 0.2); /* Фоновый цвет */
    background-clip: padding-box; /* Область отображения фона */
    backdrop-filter: blur(5px); /* Эффект размытия заднего плана */
    z-index: 99; /* Индекс слоя */
}


#my-table.unique-table {
    position: fixed; /* Фиксированное позиционирование */
    max-height: 70vh; /* Максимальная высота */
    top: 0%; /* Положение сверху */
    left: 50%; /* Положение слева */
    transform: translate(-50%, -0%); /* Позиционирование по центру */
    width: 95%; /* Ширина */
    height: 100%; /* Высота */
    padding: 10px; /* Отступы */
    z-index: 100; /* Индекс слоя */
    
}


#table-container::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
    
}

#table-container::-webkit-scrollbar-track {
    background: rgba(39, 0, 29, 0.226); /* Цвет фона трека */
    border-top-right-radius: 15px; /* Закругление нижнего правого угла */
    border-bottom-right-radius: 15px; /* Закругление нижнего правого угла */

    z-index: 95; /* Индекс слоя */
}

#table-container::-webkit-scrollbar-thumb {
    background: rgba(128, 0, 128, 0.8); /* Цвет полосы прокрутки */
    border-radius: 15px; /* Радиус скругления углов полосы */
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    #table-container {
        width: 95%; /* Ширина */
        height: 85%; /* Высота */
        position: fixed; /* Фиксированное позиционирование */
        max-height: 85%; /* Максимальная высота */
        top: 10%; /* Положение сверху */
        left: 50%; /* Положение слева */
        transform: translate(-50%, -10%); /* Позиционирование по центру */
        /* Добавляем прокрутку, если содержимое выходит за пределы контейнера */
        overflow: auto;
        /* Обрезаем содержимое, если оно выходит за пределы контейнера */
        overflow-x: hidden; /* Обрезаем содержимое по горизонтали */
        overflow-y: auto; /* Разрешаем вертикальную прокрутку */
        /* Добавляем стили для обрезки содержимого, если оно выходит за пределы */
        border: 2px solid rgba(128, 0, 128, 0.8); /* Темно-фиолетовая рамка */
        border-radius: 20px; /* Более сильное закругление */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Тень */
        background-color: rgba(128, 0, 128, 0.2); /* Фоновый цвет */
        background-clip: padding-box; /* Область отображения фона */
        backdrop-filter: blur(5px); /* Эффект размытия заднего плана */
        z-index: 99; /* Индекс слоя */
        font-size: 0.8rem; /* Уменьшенный размер текста */
    }
}



.special-button {
    position: sticky;
    border: 1px solid #8A2BE2; /* Ярко-фиолетовый бордер */
    border-radius: 15px; /* Кнопка полностью закруглена */
    background-color: rgba(96, 31, 158, 0.8); /* Полупрозрачный темно-фиолетовый фон */
    backdrop-filter: blur(3px); /* Размытие заднего фона */
    color: #ffffff; /* Белый цвет текста */
    font-size: 15px; /* Уменьшенный размер шрифта */
    display: flex; /* Флекс-контейнер для центрирования содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    padding: 4px; /* Уменьшенные поля внутри кнопки */
    cursor: pointer; /* Изменение вида курсора при наведении */
    top: 17.5px;
    left: 2px;
    z-index: 105;
    width: 28px; /* Начальная ширина кнопки */
    height: 28px; /* Начальная высота кнопки */
    transition: all 0.5s; /* Плавное изменение размеров и скругления углов при наведении */
}

.special-button:hover {
    width: 166px; /* Увеличиваем ширину кнопки при наведении */
    height: 28px; /* Увеличиваем высоту кнопки при наведении */
    border-radius: 15px; /* Увеличиваем радиус скругления углов при наведении */
    background-color: rgba(138, 43, 226, 0.8); /* Полупрозрачный темно-фиолетовый фон */
}

.special-button:hover::after {
    content: "Версия для печати"; /* Текст, который будет отображаться при наведении */

    white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}


/* Дополнительные стили для положения кнопки на мобильных устройствах */
@media screen and (orientation: portrait) {
    .special-button {
        top: 13px;
        left: 1px; /* Левый отступ на 15% ширины экрана */
        width: 20px; /* Начальная ширина кнопки */
        height: 20px; /* Начальная высота кнопки */
        padding: 1px; /* Уменьшенные поля внутри кнопки */
    }
}

/* Стили для иконки камеры */
.special-button > span {
    font-size: inherit; /* Используем размер шрифта родительского элемента */
}



.quatrain {
  font-family: Play, sans-serif;
  font-size: 14px;
  line-height: 0.2;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background-color: rgba(53, 0, 168, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Зафиксировать блок */
  top: 0; /* Расположить блок сверху */
  right: 0; /* Расположить блок справа */
  transition: background-color 0.3s; /* Плавный переход цвета фона при наведении */
  z-index: 99;
}

.quatrain::after {
    content: ''; /* Обязательно для псевдоэлементов */
    position: absolute;
    top: 0%; /* Расположить подложку под элементом .quatrain */
    left: 0;
    width: 100%;
    height: 100%; /* Высота подложки может быть на ваш выбор */
    background: rgba(255, 255, 255, 0.1); /* Прозрачный фон */
    border-radius: 15px;
    backdrop-filter: blur(3px); /* Размытие подложки */
    z-index: -1; /* Поместить подложку под элемент .quatrain */
  }
  
  

/* Медиа-запрос для портретного режима */
@media (orientation: portrait) {
    #quatrain {
  right: -10px; /* Расположить блок справа */
  font-size: 10px; 
    }
}


.quatrain:hover {
  background-color: rgba(53, 0, 168, 0.51); /* Изменяем цвет фона при наведении */
}

.quatrain-link {
  text-decoration: none; /* Убираем подчеркивание ссылки */
  color: white; /* Цвет текста ссылки */
  cursor: pointer; /* Изменяем курсор при наведении */
}

.quatrain-link:hover {
  text-decoration: none; /* Убираем подчеркивание ссылки при наведении */
  color: gold; /* Изменяем цвет текста на золотой при наведении */
}


.scrollbar {
    width: 10px;
    background-color: rgba(128, 0, 128, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 110; /* Поднимаем скроллбар выше текста */
  }
  
  /* При наведении курсора показываем полоску прокрутки */
  .parent:hover .scrollbar {
    opacity: 1;
  }
  

  .image-container {
    position: relative;
    overflow: hidden; /* Обрезает все, что выходит за пределы контейнера */
    /* Другие параметры изображения */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5), -5px 0 10px rgba(0, 0, 0, 0.5); /* Тень от левой и правой стороны */
}

.image-container img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover; /* Чтобы изображение занимало всю область */
}

.song-info {
    position: absolute;
    top: 20px;
    right: -100%; /* Добавляем отрицательный отступ справа */
    padding-right: 20px; /* Дополнительный отступ для текста */
    display: inline-block;
    animation: slideText 40s linear infinite;
    opacity: 0.7; /* Прозрачность текста */
    z-index: 90;
    white-space: nowrap; /* Текст всегда остается на одной строке */
    visibility: hidden; /* По умолчанию скрываем элемент */
    text-shadow: 
        2px 2px 5px rgba(128, 0, 128, 0.5), /* Тень вправо-вниз */
        -2px -2px 5px rgba(128, 0, 128, 0.5), /* Тень влево-вверх */
        2px -2px 5px rgba(128, 0, 128, 0.5), /* Тень вправо-вверх */
        -2px 2px 5px rgba(128, 0, 128, 0.5); /* Тень влево-вниз */
}


@keyframes slideText {
    0% { right: -50%; } /* Начальное положение справа */
    100% { right: 100%; } /* Конечное положение справа */
}


/* Стили для заголовка песни */
#songTitle {
    margin-right: 10px;
    font-weight: bold;
}

/* Стили для имени исполнителя */
#artistName {
    margin-right: 10px;
}













