@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
    z-index: 200;
}



.container {
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 970px;
    text-align: center;
    padding: 20px;
    color: white;
    overflow: hidden; /* Скрытие содержимого, выходящего за пределы контейнера */
    /* Градиентный фон */
    border: 1px rgba(255, 255, 255, 0);
    border-radius: 15px;
    z-index: 99;
}


.line {
    position: absolute;
    bottom: 0;
    left: 50%; /* Появление линии с середины контейнера */
    transform: translateX(-50%); /* Центрирование линии */
    width: 0; /* Начальная ширина линии */
    height: 4px; /* Высота линии */
    background: linear-gradient(to left, rgba(95, 0, 163, 0.8) 0%, rgba(148, 0, 211, 0.8) 50%, rgba(95, 0, 163, 0.8) 100%); /* Градиент цвета линии */
    z-index: 100;    
    transition: width 1s linear; /* Длительность и тип анимации */
}


@keyframes growShrink {
    0% {
        width: 0; /* Начальная ширина линии (нулевая) */
    }
    50% {
        width: 100%; /* Линия достигает максимальной ширины */
    }
    100% {
        width: 0; /* Линия снова уменьшается до нуля */
    }
}



@media only screen and (max-width: 600px) and (orientation: portrait) {
    .container {
        position: fixed;
        top: 49vh;
        left: 0;
        transform: translateX(-5%);
        width: 100vw;
        max-width: none;
        text-align: center;
        padding: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), #3e2723);
        color: white;
    }
}





.image {
    margin-top: 1vh;
    margin-bottom: auto;
    border: 1px transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.5s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5), -5px 0 10px rgba(0, 0, 0, 0.5); /* Тень от левой и правой стороны */
    z-index: 5;
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
    .image {
        position: fixed; /* Фиксируем положение картинки */
        top: 0.5vh; /* Размещаем картинку вверху экрана */
        left: 0; /* Размещаем картинку в самом левом положении */
        width: 100%; /* Занимаем всю доступную ширину */
        height: auto; /* Автоматически подстраиваем высоту */
        max-height: none; /* Отменяем ограничение на максимальную высоту */
        max-width: none; /* Отменяем ограничение на максимальную ширину */
        transform: none; /* Отменяем transform для мобильных устройств */
    }
}





.time {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif; /* Используем шрифт Orbitron для времени */

    margin: 0 auto; /* Центрируем текст по горизонтали */
}

.moscow-time {
    font-size: 0.75rem;
    font-family: 'Play', sans-serif; /* Используем шрифт Orbitron для времени */
    color: rgb(195, 195, 195);

}

.text {
    font-size: 1.1rem;
    margin-top: 20px;
    width: 80%;
    max-width: 1100px; /* Ограничиваем максимальную ширину текста */
    margin: 0 auto; /* Центрируем текст по горизонтали */
    text-align: center; /* Выравниваем текст по центру */
    line-height: 1.5; /* Добавляем расстояние между строками */
    animation: slideGradient 10s infinite cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Play', sans-serif;
    /* Добавляем более равномерные и менее сильные тени во все стороны */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.02),
                 -1px -1px 1px rgba(0, 0, 0, 0.02),
                 1px -1px 1px rgba(0, 0, 0, 0.02),
                 -1px 1px 1px rgba(0, 0, 0, 0.02);
}



@media only screen and (max-width: 600px) and (orientation: portrait) {
    .text {
        font-family: 'Play', sans-serif; /* Используем шрифт Play для остального текста */
        font-size: 0.5rem;
        width: 80vw;
    }
}


.text .animated {
    background: radial-gradient(circle, rgb(238, 0, 238), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: block;
    animation: slideGradient 10s infinite cubic-bezier(0.4, 0, 0.2, 1);
    font-family: 'Play', sans-serif; /* Используем шрифт Play для остального текста */
    text-transform: uppercase; /* Преобразуем весь текст в заглавные буквы */
    font-weight: bold; /* Делаем текст жирным */
}

@keyframes slideGradient {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}




#audioPlayer {
  position: fixed;
  top: 20px; /* Регулируйте отступ от верхнего края страницы */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Убедитесь, что плеер находится поверх других элементов */
}

#audioPlayer audio {
  width: 100%; /* Позволяет аудиоплееру занимать всю доступную ширину контейнера */
}

#audioPlayer controls {
  width: 100%; /* Позволяет кнопкам управления занимать всю доступную ширину контейнера */
}





/* Основной стиль кнопки */
/* Основной стиль кнопки */
#audioButton {
    position: absolute; /* Фиксированное позиционирование */
    top: 30px; /* Отступ от верхней границы вьюпорта */
    left: 30px; /* Отступ от левой границы вьюпорта */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    border-radius: 50%; /* Круглая форма */
    background-color: rgba(128, 0, 128, 0.1); /* Фиолетовый цвет с полупрозрачностью */
    color: rgba(255, 255, 255, 0.5); /* Цвет иконки с альфа-каналом 0.7 */
    font-size: 24px; /* Размер иконки */
    border: 1px solid rgba(128, 0, 128, 0.8); /* Тонкий бордер с альфа-каналом 0.5 */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
}


/* Стиль для включенной кнопки */
#audioButton.enabled {
    background-color: rgba(128, 0, 128, 0.2); /* Цвет заднего фона при включенной кнопке */
}

/* Медиа-запрос для портретного режима */
@media (orientation: portrait) {
    #audioButton {
        position: fixed; /* Фиксированное позиционирование */
        bottom: 10px; /* Вычисляем отступ от нижней границы вьюпорта */
        left: 30px; /* Отступ от левой границы вьюпорта */
        top: unset; /* Очищаем значение top */
    }
}



.quatrain {
  font-family: Play, sans-serif;
  font-size: 14px;
  line-height: 0.2;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; /* Зафиксировать блок */
  top: 0; /* Расположить блок сверху */
  right: 0; /* Расположить блок справа */
  transition: background-color 0.3s; /* Плавный переход цвета фона при наведении */
  z-index: 9999;
}

/* Медиа-запрос для портретного режима */
@media (orientation: portrait) {
    #quatrain {
  font-size: 10px; 
  background-color: rgba(53, 0, 168, 0.25); /* Изменяем цвет фона при наведении */
    }
}


.quatrain:hover {
  background-color: rgba(53, 0, 168, 0.51); /* Изменяем цвет фона при наведении */
}

.quatrain-link {
  text-decoration: none; /* Убираем подчеркивание ссылки */
  color: white; /* Цвет текста ссылки */
  cursor: pointer; /* Изменяем курсор при наведении */
}

.quatrain-link:hover {
  text-decoration: none; /* Убираем подчеркивание ссылки при наведении */
  color: gold; /* Изменяем цвет текста на золотой при наведении */
}
